/* fallback */
@font-face {
  font-family: 'Google Icons';
  font-style: normal;
  font-weight: 400;
  src: url(google.woff2) format('woff2');
}

.google {
  font-family: 'Google Icons';
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  display: inline-block;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
